body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: url('../img/alley-rug.jpg');
}

h1{
  color: white;
}

h5{
  font-style: italic;
}

img{
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow: hidden;
}

.column{
  float:left;
  width: 30%;
  height: auto;
  border: 2px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.green{
  border: dashed green;
  background-color: rgb(90, 234, 90);
}

.teal{
  border: dashed teal;
  background-color: rgb(68, 227, 227);
}

.beige{
  border: dashed rgb(177, 177, 88);
  background-color: beige;
}